.ligas img {
  max-height: 150px;
}

.card.jersey {
  min-width: 253px;
  min-height: 381px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}